<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>
<form class="card p-3 shadow" ngNativeValidate #addForm>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Název serveru *</label>
      <input type="text" #serverName class="form-control" value="{{server.serverName}}" required/>
    </div>
    <div class="col-md-7 mb-3">
      <label>IP adresa *</label>
      <input type="text" #serverIP value="{{server.serverIP}}" class="form-control"
             placeholder="Poukud máte jako ip doménu, port nastavte na 0!" required/>
    </div>
    <div class="col-md-2 mb-3">
      <label>Port</label>
      <input type="number" #serverPort value="{{server.serverPort}}" class="form-control"/>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Webová adresa</label>
      <input type="text" #serverWeb value="{{server.serverWeb}}" class="form-control"/>
    </div>
    <div class="col-md-3 mb-3">
      <label>Šťítky *</label>
      <select class="custom-select form-control" #serverLabel1>
        <option selected>Survival</option>
        <option>Vanilla</option>
        <option>PvP</option>
        <option>Minihry</option>
        <option>Economy</option>
        <option>Creative</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label>Šťítky</label>
      <select class="custom-select form-control" #serverLabel2>
        <option selected></option>
        <option>Survival</option>
        <option>Vanilla</option>
        <option>PvP</option>
        <option>Minihry</option>
        <option>Economy</option>
        <option>Creative</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label>Online mode *</label>
      <select class="custom-select form-control" #serverOnlineMode>
        <option selected>Leg</option>
        <option>Warez</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-5 mb-3">
      <label>Adresa NuVotifieru</label>
      <input type="text" class="form-control" #serverVotifierIP value="{{server.votifierIP}}"/>
    </div>
    <div class="col-md-5 mb-3">
      <label>Token NuVotifieru</label>
      <input type="text" class="form-control" placeholder="Lze nalézt v configu pluginu" #serverVotifierToken
             value="{{server.votifierToken}}"/>
    </div>
    <div class="col-md-2 mb-3">
      <label>Port NuVotifieru</label>
      <input type="number" class="form-control" #serverVotifierPort value="{{server.votifierPort}}"/>
    </div>
  </div>
  <div class="form-row">
    <div class="fluid col-md-12 form-group">
      <label>Popis serveru</label>
      <textarea class="form-control" #serverAbout value="{{server.about}}" rows="5"
                placeholder="Chápe html tagy"></textarea>
    </div>
  </div>
  <button class="btn btn-success"
          (click)="editServer(addForm ,serverName, serverIP, serverPort, serverWeb, serverLabel1, serverLabel2, serverOnlineMode, serverVotifierIP, serverVotifierToken, serverVotifierPort, serverAbout)"
          type="submit">Editovat server
  </button>
</form>
