.navbar {
  background-color: rgb(7, 71, 166);
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 99;
  margin-bottom: 100px;
  padding: 15px 10px;
  transition: 0.4s;
}

.my-shadow {
  -webkit-box-shadow: 0px 6px 24px -4px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 24px -4px rgba(0,0,0,0.6);
  box-shadow: 0px 6px 24px -4px rgba(0,0,0,0.6);
}

nav ul li a, nav form a {
  color: #f8f9fa;
}

nav ul li a:hover, nav form a:hover, .active, nav form a.active {
  color: #bdc3c7;
}

.active, nav form a.active {
  font-weight: bold;
}

.navbar-brand {
  padding: 0px;
}
