<nav class="navbar navbar-expand-lg navbar-light" id="top-bar">
  <a class="navbar-brand">
    <img src="/assets/Milk.png" width="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/server-list" routerLinkActive="active">Servery <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq" routerLinkActive="active" href="#">FAQ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" routerLink="/administration">Správa serveru</a>
      <button type="button" class="btn btn-outline-light" routerLink="/administration" routerLinkActive="active">Přidat
        server
      </button>
    </form>
  </div>
</nav>
