<app-top-bar></app-top-bar>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-3">
      <app-advertisement></app-advertisement>
    </div>
  </div>
</div>
<app-footer></app-footer>
