<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <app-advertisement></app-advertisement>
    </div>
    <div class="col-lg">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
      </p>
      <form class="card p-3 shadow">
        <h5>Hlasovat pro server {{serverName}}</h5>
        <hr>
        <div class="form-group">
          <label>Nick ve hře</label>
          <input type="text" #nick class="form-control" required>
        </div>
        <button type="button" class="btn btn-success" (click)="vote(nick)">Hlasovat</button>
      </form>
    </div>
  </div>
</div>
