<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>
<form class="card p-3 shadow">
  <h5>Přihlašte se</h5>
  <hr>
  <div class="form-group">
    <label>Přihlašovací jméno</label>
    <input type="text" #nick class="form-control" required>
  </div>
  <div class="form-group">
    <label>Heslo</label>
    <input type="password" #pass class="form-control" required>
  </div>
  <button type="button" class="btn btn-success" (click)="onSubmit(nick, pass)">Přihlásit se</button>
  <br>
  <button type="button" routerLink="/register" routerLinkActive="active" class="btn btn-primary">Registrovat se</button>
</form>
