.btn-secondary {
  background-color: rgb(7, 71, 166);
}

.btn {
  border: none;
}

#vanillaLabel.active {
  background-color: #d35400;
}

#survivalLabel.active {
  background-color: #8e44ad;
}

#modLabel.active {
  background-color: #27ae60;
}

#creativeLabel.active {
  background-color: #f39c12;
}

#ecoLabel.active {
  background-color: #16a085;
}

#pvpLabel.active {
  background-color: #c0392b;
}

#legLabel.active {
  background-color: #B53471;
}

#warezLabel.active {
  background-color: #1B1464;
}
