<div *ngIf="loaded" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" style="padding-right: 10px;">
  <label class="btn btn-secondary shadow-none active" id="allLabel">
    <input type="radio" autocomplete="off" (click)="selectAll()"> Všechny
    <span class="badge badge-light">{{counts['All']}}</span>
  </label>
</div>

<div *ngIf="loaded" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" style="padding-right: 10px;">
  <label class="btn btn-secondary shadow-none" id="survivalLabel">
    <input type="radio" autocomplete="off" (click)="selectLabel('Survival')"> Survival
    <span class="badge badge-light">{{counts['Survival']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="vanillaLabel">
    <input type="radio" autocomplete="off" (click)="selectLabel('Vanilla')"> Vanilla
    <span class="badge badge-light">{{counts['Vanilla']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="pvpLabel">
    <input type="radio" autocomplete="off" (click)="selectLabel('PvP')"> PvP
    <span class="badge badge-light">{{counts['PvP']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="modLabel">
    <input type="radio" autocomplete="off" (click)="selectLabel('Minihry')"> Minihry
    <span class="badge badge-light">{{counts['Minihry']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="ecoLabel">
    <input type="radio" autocomplete="off"  (click)="selectLabel('Economy')"> Economy
    <span class="badge badge-light">{{counts['Economy']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="creativeLabel">
    <input type="radio" autocomplete="off"  (click)="selectLabel('Creative')"> Creative
    <span class="badge badge-light">{{counts['Creative']}}</span>
  </label>
</div>

<div *ngIf="loaded" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
  <label class="btn btn-secondary shadow-none" id="legLabel">
    <input type="radio" autocomplete="off" (click)="selectLeg(true)"> Leg
    <span class="badge badge-light">{{counts['Leg']}}</span>
  </label>
  <label class="btn btn-secondary shadow-none" id="warezLabel">
    <input type="radio" autocomplete="off" (click)="selectLeg(false)"> Warez
    <span class="badge badge-light">{{counts['Warez']}}</span>
  </label>
</div>
