<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>
<form class="card p-3 shadow" ngNativeValidate #addForm>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Název serveru *</label>
      <input type="text" #serverName class="form-control" placeholder="Muj krásný server" required/>
    </div>
    <div class="col-md-7 mb-3">
      <label>IP adresa *</label>
      <input type="text" #serverIP class="form-control" placeholder="Poukud máte jako ip doménu, port nastavte na 0!" required/>
    </div>
    <div class="col-md-2 mb-3">
      <label>Port</label>
      <input type="number" #serverPort class="form-control" placeholder="25262"/>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Webová adresa</label>
      <input type="text" #serverWeb class="form-control" placeholder="www.stranka.cz"/>
    </div>
    <div class="col-md-3 mb-3">
      <label>Šťítky *</label>
      <select class="custom-select form-control" #serverLabel1>
        <option selected>Survival</option>
        <option>Vanilla</option>
        <option>PvP</option>
        <option>Minihry</option>
        <option>Economy</option>
        <option>Creative</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label>Šťítky</label>
      <select class="custom-select form-control" #serverLabel2>
        <option selected></option>
        <option>Survival</option>
        <option>Vanilla</option>
        <option>PvP</option>
        <option>Minihry</option>
        <option>Economy</option>
        <option>Creative</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label>Online mode *</label>
      <select class="custom-select form-control" #serverOnlineMode>
        <option selected>Leg</option>
        <option>Warez</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-5 mb-3">
      <label>Adresa NuVotifieru</label>
      <input type="text" class="form-control" #serverVotifierIP placeholder="192.168.48.39"/>
    </div>
    <div class="col-md-5 mb-3">
      <label>Token NuVotifieru</label>
      <input type="text" class="form-control" placeholder="Lze nalézt v configu pluginu" #serverVotifierToken/>
    </div>
    <div class="col-md-2 mb-3">
      <label>Port NuVotifieru</label>
      <input type="number" class="form-control" placeholder="25262" #serverVotifierPort/>
    </div>
  </div>
  <div class="form-row">
    <div class="fluid col-md-12 form-group">
      <label>Popis serveru</label>
      <textarea class="form-control" #serverAbout rows="5" placeholder="Chápe html tagy"></textarea>
    </div>
  </div>
  <button class="btn btn-success"
          (click)="addServer(addForm ,serverName, serverIP, serverPort, serverWeb, serverLabel1, serverLabel2, serverOnlineMode, serverVotifierIP, serverVotifierToken, serverVotifierPort, serverAbout)"
          type="submit">Přidat server
  </button>
</form>
