.card {
  border: none;
  margin-bottom: 25px;
}

.server-labels span {
  margin-right: 5px;
}

.my-row {
  line-height: 50%;
}

.progress {
  height: 22px;
}

.card-footer {
  margin-top: -18px;
}

.badge {
  border-radius: 0px;
  color: white;
  padding: 4px;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

.progress {
  position: relative;
}

.badge-vanilla {
  background-color: #d35400;
}

.badge-survival {
  background-color: #8e44ad;
}

.badge-modovany {
  background-color: #27ae60;
}

.badge-creative {
  background-color: #f39c12;
}

.badge-economy {
  background-color: #16a085;
}

.badge-pvp {
  background-color: #c0392b;
}

.badge-leg {
  background-color: #B53471;
}

.badge-warez {
  background-color: #1B1464;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: rgb(7, 71, 166) !important;
  border: none;
  box-shadow: none;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: black !important;
}

