<app-filters></app-filters>
<hr>
<div *ngIf="servers.length == 0" class="card shadow p-3 text-center">
  Server, který by vyhovoval těmto filtrům, tu zatím bohužel není <i class="fa fa-frown-o" aria-hidden="true"></i>
</div>
<div *ngFor="let server of servers | slice: (paginationPage-1) * paginationPageSize : (paginationPage-1) * paginationPageSize + paginationPageSize" class="card shadow">
  <div class="card-body server-labels">
    <div class="float-left">
      <h5 class="float-left">{{server.serverName}}</h5>&nbsp;
      <span class="badge badge-primary">{{server.version}}</span>
      <span *ngIf="server.label1 == 'Vanilla'" class="badge badge-vanilla">Vanilla</span>
      <span *ngIf="server.label1 == 'Survival'" class="badge badge-survival">Survival</span>
      <span *ngIf="server.label1 == 'PvP'" class="badge badge-pvp">PvP</span>
      <span *ngIf="server.label1 == 'Creative'" class="badge badge-creative">Creative</span>
      <span *ngIf="server.label1 == 'Economy'" class="badge badge-economy">Economy</span>
      <span *ngIf="server.label1 == 'Minihry'" class="badge badge-modovany">Minihry</span>
      <span *ngIf="server.label2 == 'Vanilla'" class="badge badge-vanilla">Vanilla</span>
      <span *ngIf="server.label2 == 'Survival'" class="badge badge-survival">Survival</span>
      <span *ngIf="server.label2 == 'PvP'" class="badge badge-pvp">PvP</span>
      <span *ngIf="server.label2 == 'Creative'" class="badge badge-creative">Creative</span>
      <span *ngIf="server.label2 == 'Economy'" class="badge badge-economy">Economy</span>
      <span *ngIf="server.label2 == 'Minihry'" class="badge badge-modovany">Minihry</span>
      <span *ngIf="server.onlineMode == true" class="badge badge-leg">Leg</span>
      <span *ngIf="server.onlineMode == false" class="badge badge-warez">Warez</span>
    </div>
    <h5 *ngIf="server.online" class="text-right"><span class="badge badge-success m-0">Online</span></h5>
    <h5 *ngIf="!server.online" class="text-right"><span class="badge badge-danger m-0">Offline</span></h5>
    <hr>
    <div class="my-row">
      <p class="text-justify float-left"><b>IP:</b> {{server.serverIP}}</p>
      <p *ngIf="server.serverWeb != ''" class="text-right"><a target="_blank" href="//{{server.serverWeb}}">{{server.serverWeb}}</a></p>
      <p *ngIf="server.serverWeb == ''" class="text-right">Web není uveden</p>
    </div>
    <hr>
    <div class="my-row">
      <p class="text-justify float-left"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{server.votes}}</p>
      <p class="text-right"><a routerLink="/vote/{{server.id}}" (click)="scrollTop()" routerLinkActive="active">Hlasuj</a></p>
    </div>
    <hr>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="((server.onlinePlayers/server.maxPlayers)*100) + '%'">
        <span><i class="fa fa-user"></i> {{server.onlinePlayers + "/" + server.maxPlayers}}</span>
      </div>
    </div>
    <hr>

    <p class="text-justify text-center" data-toggle="collapse" [attr.href]="'#server' + server.id" role="button"
       aria-expanded="false" aria-controls="collapseExample">
      <button type="button" class="btn btn-link my-row">Zobrazit popis</button>
    </p>
    <div class="collapse" id="{{'server' + server.id}}">
      <div *ngIf="server.about != ''" [innerHTML]="server.about" class="card card-body"></div>
      <div class="card card-body text-center" *ngIf="server.about == ''">Žádný popis není k dispozici</div>
    </div>
  </div>

  <div class="card-footer text-secondary">
    <div class="text-left float-left"><i class="fa fa-hashtag" aria-hidden="true"></i> {{server.position}}</div>
    <div class="text-right"><i class="fa fa-calendar" aria-hidden="true"></i> {{server.added | date: "dd.MM.yyyy"}}</div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <ngb-pagination *ngIf="servers.length > 10" (click)="scrollTop()" [collectionSize]="servers.length" [(page)]="paginationPage" aria-label="Default pagination"></ngb-pagination>
</div>
