body {
  background-color: #f8f9fa;
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.card {
  border: none;
}

.my-color {
  color: rgb(7, 71, 166);
}
