<div>
  <div>
    <button type="button" (click)="menu = 'ADDSERVER'" class="btn btn-success" style="margin-right: 10px;">Přidat nový
      server
    </button>
    <button type="button" (click)="myServers()" class="btn btn-info">Moje servery</button>
    <button type="button" (click)="logout()" class="btn btn-danger float-right">Odhlásit se</button>
  </div>
  <hr>
  <app-add-server *ngIf="menu == 'ADDSERVER'"></app-add-server>
  <app-edit-server *ngIf="menu == 'EDITSERVER'" [server]="serverToEdit"></app-edit-server>
  <div *ngIf="menu == 'MYSERVERS'">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
    </p>
    <p class="text-center" *ngIf="servers.length == 0">
      Zatím nemáš žádný server <i class="fa fa-frown-o" aria-hidden="true"></i>
    </p>
    <div *ngIf="servers.length > 0" class="card shadow p-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Název</th>
          <th scope="col" class="text-right">Akce</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let server of servers">
          <td>{{server.serverName}}</td>
          <td class="text-right">
            <button (click)="editServer(server);" style="margin-right: 10px;" type="button" class="btn btn-primary"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button (click)="deleteServer(server.id)" type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
