<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>
<form class="card p-3 shadow" ngNativeValidate #regForm>
  <h5>Registrace</h5>
  <hr>
  <div class="form-group">
    <label>Přihlašovací jméno</label>
    <input type="text" class="form-control" #username required>
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" #mail required>
  </div>
  <div class="form-group">
    <label>Heslo</label>
    <input type="password" class="form-control" #password required>
  </div>
  <button (click)="register(regForm, username, mail, password)" type="submit" class="btn btn-primary">Registrovat se</button>
</form>
